---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MySidebar from '../components/MySidebar.jsx'
import Post from '../components/Post.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>hello ASTRO</h1>
		<Post 
			title="NEM FODENDO COMPONENT"
			text="Que isso"
		/>
		<MySidebar />
		<a href="/produto">Pagina 1</a>
		<br/>
		<a href="/User">Aqui o teste de fetch</a>
		<br/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
