---
interface Props {
	title: string;
	text: string;
}

const {title, text} = Astro.props;
---

<div>
  <h2>{title}</h2>
  <p class="texto">{text} ??? teste components, styles e interpolação</p>
  <p>{text}</p>
</div>

<style>
  .texto {
    color: red;
  }
</style>